
#tl1 .timeline_line,
#content #tl1 .timeline_line {
	width: 1044px;
}

#tl1 .t_line_view,
#content #tl1 .t_line_view {
	width: 1044px;
}

#tl1 .t_line_m,
#content #tl1 .t_line_m {
	width: 520px;
}

#tl1 .t_line_m.right,
#content #tl1 .t_line_m.right {
	left: 521px;
	width: 521px;
}

#tl1 .t_node_desc span,
#content #tl1 .t_node_desc span {
	background: #67d3e0;
}

#tl1 .t_node_desc span:after,
#content #tl1 .t_node_desc span:after {
	border-top-color: #67d3e0;
}

#tl1 .t_line_node,
#content #tl1 .t_line_node {
	color: #67d3e0;
}

#tl1 .t_line_node:after,
#content #tl1 .t_line_node:after {
	background: #67d3e0;
}

#tl1 .item.item_node_hover:before,
#content #tl1 .item.item_node_hover:before {
	background: #67d3e0;
}

#tl1 .item.item_node_hover:after,
#content #tl1 .item.item_node_hover:after {
	border-top-color: #67d3e0;
}

#tl1 #t_line_right:hover,
#content #tl1 #t_line_right:hover,
#tl1 #t_line_left:hover,
#content #tl1 #t_line_left:hover {
	color: #67d3e0;
}

#tl1 .item h2,
#content #tl1 .item h2 {
	font-size: 0px;
	color: #2d2d2d;
	text-align: left;
	line-height: 0px;
	margin-left: 27px;
	margin-right: 27px;
	margin-top: 27px;
	font-weight: normal;
	font-style: normal;
}

#tl1 .item span,
#content #tl1 .item span {
	text-align: left;
	margin-bottom: 27px;
	margin-left: 27px;
	margin-right: 27px;
}

#tl1 .item,
#content #tl1 .item {
	width: 255px;
	height: 450px;
	background: #ffffff url() repeat;
	font-size: 14px;
	color: #7f828f;
	line-height: 22px;
	font-weight: normal;
	font-style: normal;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
	-moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
	-webkit-transition: box-shadow 0.3s;
	-moz-transition: box-shadow 0.3s;
	transition: box-shadow 0.3s;
	zoom: 1;
	filter: progid: DXImageTransform.Microsoft.Shadow(Color=#888888, Strength=0, Direction=0), progid: DXImageTransform.Microsoft.Shadow(Color=#888888, Strength=5, Direction=90), progid: DXImageTransform.Microsoft.Shadow(Color=#888888, Strength=5, Direction=180), progid: DXImageTransform.Microsoft.Shadow(Color=#888888, Strength=0, Direction=270);
}

#tl1 .item_open h2,
#content #tl1 .item_open h2 {
	font-size: 0px;
	color: #2d2d2d;
	line-height: 0px;
	font-weight: normal;
	font-style: normal;
}

#tl1 .item_open,
#content #tl1 .item_open {
	width: 490px;
	height: 450px;
	background: #ffffff url() repeat;
	font-size: 12px;
	color: #4d4d4d;
	line-height: 12px;
	font-weight: normal;
	font-style: normal;
	-moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
	zoom: 1;
	filter: progid: DXImageTransform.Microsoft.Shadow(Color=#888888, Strength=0, Direction=0), progid: DXImageTransform.Microsoft.Shadow(Color=#888888, Strength=5, Direction=90), progid: DXImageTransform.Microsoft.Shadow(Color=#888888, Strength=5, Direction=180), progid: DXImageTransform.Microsoft.Shadow(Color=#888888, Strength=0, Direction=270);
}


#tl1 .item .con_borderImage,
#content #tl1 .item .con_borderImage {
	border: 0px;
	border-bottom: 0px solid;
	height: 235px;
}

#tl1 .item .post_date,
#content #tl1 .item .post_date {
	border: 0px;
	background:
}

#tl1 .item_open .con_borderImage,
#content #tl1 .item_open .con_borderImage {
	border-bottom: 0px solid #1986ac;
}

#tl1 .item_open_cwrapper,
#tl1 .item_open .con_borderImage,
#content #tl1 .item_open_cwrapper,
#content #tl1 .item_open .con_borderImage {
	width: 490px;
}

#tl1 .item_open .con_borderImage {
	height: 150px;
}

.timeline.flatButton .item .read_more,
#content .timeline.flatButton .item .read_more {
	font-size: 12px !important;
}

.timeline.flatButton .item .read_more,
.timeline.flatWideButton .item .read_more,
#content .timeline.flatButton .item .read_more,
#content .timeline.flatWideButton .item .read_more {
	font-size: 12px !important;
	line-height: 12px !important;
}

.timeline .item .read_more,
#content .timeline .item .read_more {
	font-size: 20px !important;
	line-height: 20px !important;
}

#tl1 .item_open .t_close:hover,
#content #tl1 .item_open .t_close:hover {
	background: #8cc80c;
}

#tl1.flatButton .item .read_more,
#tl1.flatWideButton .item .read_more,
#content #tl1.flatButton .item .read_more,
#content #tl1.flatWideButton .item .read_more {
	background: #67d3e0;
	margin: 27px;
}

#tl1.flatButton .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#tl1.flatWideButton .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#content #tl1.flatButton .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
#content #tl1.flatWideButton .mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background: #67d3e0;
}

#tl1 .item .read_more:hover,
#content #tl1 .item .read_more:hover {
	background: #8cc80c;
}

#tl1.flatButton .item_open.item_open_noImg .t_close,
#tl1.flatWideButton .item_open.item_open_noImg .t_close,
#content #tl1.flatButton .item_open.item_open_noImg .t_close,
#content #tl1.flatWideButton .item_open.item_open_noImg .t_close {
	color: #67d3e0 !important;
}

#tl1.flatButton .item_open.item_open_noImg .t_close:hover,
#tl1.flatWideButton .item_open.item_open_noImg .t_close:hover,
#content #tl1.flatButton .item_open.item_open_noImg .t_close:hover,
#content #tl1.flatWideButton .item_open.item_open_noImg .t_close:hover {
	color: #8cc80c !important;
}

#tl1 .item .read_more,
#content #tl1 .item .read_more,
#tl1 .item_open .t_close,
#content #tl1 .item_open .t_close {
	/* transparent background */
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#44000000', endColorstr='#44000000');
}

#tl1 .t_node_desc,
#content #tl1 .t_node_desc {
	/* IE transparent background */
	filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#cc1a86ac', endColorstr='#cc1a86ac');
}

#tl1 .timeline_open_content,
#content #tl1 .timeline_open_content {
	padding: 20px;
}

#tl1 .mCSB_dragger_bar {
	background: #1986ac !important;
}

a.con_borderImage {
	display: block; 
	-webkit-user-select: none;
	-moz-user-select: none;     
	-ms-user-select: none;
	user-select: none;
}